<html>
<h1>ABOUT US</h1>
<body>


<p>
The BookShop websites was founded in 2017 by National College of Ireland Students. The goal of the BookShop is to be a strong Ireland based 
website selling books and related products to a predominantly Irish customer 
base, both within the island of Ireland but also to the worldwide Irish diaspora and people who love Ireland.
</p>

</body>
</html>