<h1>Contact us!</h1>

<form id="contact_form" action="#"form action="http://formspree.io/x16124103@student.ncirl.ie" method="post">
 <div class="row">
    <label for="email">Your email:</label><br />
  <input type="email" name="_replyto">
  </div>
  <div class="row">
      <label for="message">Message:</label><br />
  <textarea name="body"rows="7" cols="30"></textarea>
  </div>
  <div class="row">
      <label for="message"></label><br />
  <input id="submit_button"input type="submit" value="Submit">
  </div>
</form>