<h1>Search For Books</h1>
<p id="notice"><%= notice %></p>

<%=form_tag(books_path, :method => "get" , id: "search.form") do %>
  <%= text_field_tag :search, params[:search],:size=> 30, placeholder: " Search Books By Title or Author"%>
  <%= submit_tag "Search" %>
  <% end %>
  
  
  

  
 
